@charset "utf-8";

@media screen and (max-width: 480px) {
    body {
        width: 100%;
    }
}

body {
    background-color: rgb(55, 55, 55);
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
    height: fit-content;
    margin: auto;
    width: 1600px;
}

.main-area {
    background-image: url("img/background.jpg");
    background-size: cover;
    color: bisque;
    height: 1200px;
    margin: 0 auto;
    width: min(1200px, 100%);
}

.main-area-transparent {
    background-color: rgba(255, 255, 255, 0.2);
    height: 1200px;
}

.main-area-title {
    font-size: xx-large;
    height: 100px;
    line-height: 100px;
    padding: 0;
    text-align: center;
    width: 1200px;
}

.main-area-introduce {
    display: flex;
    margin: auto;
    height: 200px;
    width: 1200px;
}

.main-area-introduce>.name {
    align-items: center;
    display: flex;
    margin-right: 300px;
    padding-left: 20px;
    width: 250px;
}

.main-area-introduce>.picture {
    background-image: url("img/myself.jpg");
    background-size: cover;
    margin-left: 350px;
    width: 250px;
}

.body-area {
    margin: 20px auto;
    width: 450px;
}

.body-area-row {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    margin: 5px auto;
}

.body-area-text {
    background-color: burlywood;
    color: aliceblue;
    font-size: small;
    height: fit-content;
    overflow: hidden;
}

.body-area-text>table {
    background-color: burlywood;
    color: aliceblue;
    font-size: small;
}

th,
td {
    border: 1px solid #333;
    padding: 1px;
}

.dice-display img {
    height: 50px;
    width: 50px;
}

.accordion-enter-active,
.accordion-leave-active {
    transition: height 10s ease-in-out;
}

.accordion-enter,
.accordion-leave-to {
    height: 0;
}